/**/classes/**
/**/bin/**
/**/*.class
/target/**
/food/target/**
/accounting/target/**
.classpath
.project
.settings/
accounting/.classpath
accounting/.project
accounting/.settings/
accounting/src/
food/.classpath
food/.project
food/.settings/
food/target/**
accounting/target/**